HelloWebClient/Service References/HelloWebService/HelloWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMesaage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMesaageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMesaageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMesaageSoapIn">
    <wsdl:part name="parameters" element="tns:GetMesaage" />
  </wsdl:message>
  <wsdl:message name="GetMesaageSoapOut">
    <wsdl:part name="parameters" element="tns:GetMesaageResponse" />
  </wsdl:message>
  <wsdl:portType name="HelloWebserviceSoap">
    <wsdl:operation name="GetMesaage">
      <wsdl:input message="tns:GetMesaageSoapIn" />
      <wsdl:output message="tns:GetMesaageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWebserviceSoap" type="tns:HelloWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMesaage">
      <soap:operation soapAction="http://tempuri.org/GetMesaage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelloWebserviceSoap12" type="tns:HelloWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMesaage">
      <soap12:operation soapAction="http://tempuri.org/GetMesaage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWebservice">
    <wsdl:port name="HelloWebserviceSoap" binding="tns:HelloWebserviceSoap">
      <soap:address location="http://localhost:64477/HelloWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="HelloWebserviceSoap12" binding="tns:HelloWebserviceSoap12">
      <soap12:address location="http://localhost:64477/HelloWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>